name: Wine Arch Linux CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - uses: actions/checkout@v2
      - name: Compile
        run: |
          wine_version="6.23"
          echo "::set-output name=release_version::${wine_version}"
          
      - name: Package
        run: |
          echo $wine_version
    
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          prerelease: false
          automatic_release_tag: "caffe-${{ steps.vars.outputs.release_version }}"
